name: node-coverage

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  coverage:
    runs-on: ubuntu-latest

    timeout-minutes: 15

    steps:
      - name: Set git to use LF to checkout
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v6
      
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Cache node modules
        uses: actions/cache@v5
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-coverage-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}

      - name: npm ci
        run: npm ci

      - name: test & coverage
        run: npm run coverage --if-present

      - name: upload coverage
        uses: codecov/codecov-action@v5
